footer {
    background-color: #1d1d1d;
    padding: 15px;
     margin-top: 150px;
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
    align-items: center;
    color: #fff;
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}