#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#cta {
    width: 40%;
    display:flex;
    flex-direction: column;
    gap: 20px;
    margin: 5%;
}

#cta .title{
    font-size: 4rem;
    color: #1d1d1d;
}

#cta .title span{
    color: #9cd2f1;
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    margin-top: 10px;
    display: flex;
    gap:24px;   
}

#cta_buttons a {
    text-decoration: none;
    color:#1d1d1d;
}

.social-media-buttons {
    margin-top: 10px;
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #fff;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: #9cd2f1;
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img {
    height: 100%;
    width: fit-content;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}